<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="images/about.svg" alt="herosection_image">
                    </figure>
                </div>

                {{!-- right side  --}}
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    <h1>I am Full Stack MERN Developer</h1>

                    <p>Welcome To <span class="bold-style">WebTech</span>
                        , Your Number One Source For All Things. I am Dedicated To Giving
                        You The Very Best Of Work, With A Focus On Dependability,
                        Customer Service And Uniqueness.</p>
                    <button class="btn-style btn-primary">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>